#menu ul, .submenu ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   margin-top: 5px;   
}

#menu li
{
   margin: 0;
   margin-top: 3px;
   margin-left: 1px;  
   float: left;      
   border-radius: 5px 5px 0 0;
   border: 1px solid #4D86B8;
   line-height: 20px;
   height: 25px;
   padding-top:5px;
   
}

#menu li:hover { }

#menu li a 
{
   font-family: arial;
   letter-spacing: 2px;
   font-size: 10px;
   color:#fff;
   text-decoration: none;      
   font-weight: bold;
   text-shadow: 0 -1px 1px rgba(0,0,0,0.25);      
   cursor: pointer;      
   padding:5px 10px 6px 10px;
   /*border: 1px solid #000;*/
}

#menu li a:hover { color:#000 }

.submenu
{   
   display: none;
   position: absolute;
   padding: 2px 3px;
   background: #F6F6F6;
   margin-top: 0px;
   z-index: 9999;
   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
   -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);   
   box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.submenu ul { margin-top: 0;}

.submenu li
{
   padding: 6px 10px;
   margin: 0 0;
   width: 170px;
   height: 10px;
   
}

.submenu li:hover 
{
   background:#72A9D3
}

.submenu li:hover > a { color:#ffffff;}
.submenu li a {
   font-family: arial;
   font-size: 10px;
   color:#000;
   text-decoration: none;
   padding-top:5px;
   padding-bottom: 5px;
   padding-right:20%;
   text-shadow: 0 -2px 2px rgba(0,0,0,0.1);
    }

.submenu li a:hover { color: #fff;}